<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.mapper.Procurement_registrationMapper" >


	<select id="getTotal" resultType="Integer" parameterType="HashMap" >
	
		select count(1) as total from (
		
			select * from procurement_registration
		
				<where>
					<if test="id != null ">
						and id=#{id}
					</if>
					<if test="goodsName != null ">
						and goodsName like #{goodsName}
					</if>
					<if test="userid != null ">
						and userid=#{userid}
					</if>
					<if test="userName != null ">
						and userName=#{userName}
					</if>
					<if test="is_delete != null ">
						and is_delete=#{is_delete}
					</if>
				</where>
		) t
	
	</select>


	<select id="list" resultType="HashMap" parameterType="HashMap" >
	
		select * from procurement_registration
		
		<where>
			<if test="id != null ">
				and id=#{id}
			</if>
			<if test="goodsName != null ">
				and goodsName like #{goodsName}
			</if>
			<if test="userid != null ">
				and userid=#{userid}
			</if>
			<if test="userName != null ">
				and userName=#{userName}
			</if>
			<if test="is_delete != null ">
				and is_delete=#{is_delete}
			</if>
		</where>
		
		limit #{start},#{end}
	
	</select>


	<update id="update" parameterType="HashMap" >
	    update procurement_registration
	    <set>
		      <if test="goodsid != null" >
		        goodsid = #{goodsid},
		      </if>
		      <if test="goodsName != null" >
		        goodsName = #{goodsName},
		      </if>
		      <if test="userid != null" >
		        userid = #{userid},
		      </if>
		      <if test="userName != null" >
			     userName =  #{userName},
			  </if>
		      <if test="create_time != null" >
		       create_time =  #{create_time},
		      </if>
		      <if test="update_time != null" >
		       update_time = #{update_time},
		      </if>
		      <if test="is_delete != null" >
		        is_delete = #{is_delete},
		      </if>
		      <if test="state != null" >
		        state = #{state},
		      </if>
		      <if test="note != null" >
		        note = #{note},
		      </if>
		      <if test="count != null" >
		        count = #{count},
		      </if>
	     </set>
	      where id = #{id,jdbcType=INTEGER}
     </update>

	<insert id="insert" parameterType="HashMap"  >
	
		INSERT INTO procurement_registration
		
			<trim prefix="(" suffix=")" suffixOverrides="," >
			      
			     <if test="goodsid != null" >
			        goodsid,
			      </if>
			      <if test="goodsName != null" >
			        goodsName,
			      </if>
			      <if test="userid != null" >
			        userid,
			      </if>
			      <if test="userName != null" >
				    userName,
				  </if>
			      <if test="create_time != null" >
			       create_time,
			      </if>
			      <if test="update_time != null" >
			       update_time,
			      </if>
			      <if test="is_delete != null" >
			       is_delete,
			      </if>
			      <if test="state != null" >
			        state,
			      </if>
			      <if test="note != null" >
			        note,
			      </if>
			      <if test="count != null" >
			        count,
			      </if>
		    </trim>
		    
		    <trim prefix="values (" suffix=")" suffixOverrides="," >
				<if test="goodsid != null" >
			        #{goodsid},
			      </if>
			      <if test="goodsName != null" >
			        #{goodsName},
			      </if>
			      <if test="userid != null" >
			        #{userid},
			      </if>
			      <if test="userName != null" >
				    #{userName},
				  </if>
			      <if test="create_time != null" >
			       #{create_time},
			      </if>
			      <if test="update_time != null" >
			       #{update_time},
			      </if>
			      <if test="is_delete != null" >
			       #{is_delete},
			      </if>
			      <if test="state != null" >
			        #{state},
			      </if>
			      <if test="note != null" >
			        #{note},
			      </if>
			      <if test="count != null" >
			        #{count},
			      </if>
			</trim>
			
		
	
	</insert>

</mapper>